beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
Camelot==12.6.29
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
contourpy==1.1.1
cryptography==41.0.4
cycler==0.12.1
decorator==5.1.1
deprecation==2.1.0
distro==1.8.0
Elixir==0.7.1
et-xmlfile==1.1.0
Flask==2.1.2
fonttools==4.43.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
JPype1==1.4.1
kiwisolver==1.4.5
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.8.0
numpy==1.26.0
openpyxl==3.1.2
packaging==23.1
pandas==2.1.1
pbr==5.11.1
pdfminer.six==20221105
pdfplumber==0.10.2
pikepdf==8.5.0
Pillow==10.0.1
pycparser==2.21
pyparsing==3.1.1
PyPDF2==3.0.1
pypdfium2==4.20.0
pytesseract==0.3.10
python-dateutil==2.8.2
pytz==2023.3.post1
reportlab==4.0.5
requests==2.31.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.11.0
sqlparse==0.4.4
tabula-py==2.8.2
Tempita==0.5.2
tzdata==2023.3
urllib3==2.0.5
Werkzeug==2.3.7
xlrd==0.7.1
xlwt==0.7.2
